:root {
  --error: #FB5B5B;
  --error-dark: #EA0505;

  --accent: #FBA374;
  --accent-hover: #F8722A;

  --black: #121015;
  --gray-400: #4A4A4A;
  --gray-300: #969696;
  --gray-200: #E3E3E3;
  --gray-100: #F2F2F2;

  --surface: #FAFAFA;
  --background: #F5F5F5;
}
